
.userSection {
  width: 23%;
  height: auto;
  margin: 5%;
  position: relative;
  float: left;
  border: 1px solid black;
  font-size: .8em;
  border-radius: 125px 125px 0px 0px;
}

.profileDiv {
  text-align: center;
}

.titles{
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  color: #8b9476;
  margin: 5px 0px 5px 0px;
}

.userSection:nth-child(3n){
  clear: both;
}

footer {
  clear: both;
  position: relative;
  bottom: 0px;

}
