.topnav {
  background-color: #996C56;
  /*overflow: hidden;*/
  /*list-style-type: none;*/
  text-align: center;
}
 /*Style the links inside the navigation bar*/
.topnav a {
  /*float: left;*/
  /*display: block;*/
  color: #B5FFBC;
  /*text-align: center;*/
  padding: 14px 16px;
  /*text-decoration: none;*/
  font-size: 17px;
  max-width: 100%;
  /*height: auto;*/
}
div {
  max-width: 100%;
  height: auto;
}
/*span {
  color: #B5FFBC;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 3rem;*/
/*}*/
#span {

}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: #B5FFBC;
}
#navLogo {
  /*position: absolute;*/
  top: 8px;
  left: 8px;
  border: 2px solid black;
  /*list-style-type: none;*/
}
#climbLogo {
  /*position: absolute;*/
  /*left: 880px;
  top: 8px;*/
  border: 2px solid black;
  /*list-style-type: none;*/

}
/*ul  {*/
  /*position: relative;*/
  /*clear: both;
  list-style-type: none;
  /*height: auto;*/
/*}*/
/*#navLeft  {
  /*display: inline;
  margin-left: 20%;
}
#navCtr {
  display: inline;
  margin-left: 45%;
}

#navRight {
  /*display: inline;*/
  /*margin-left: 70%;*/
/*}*/
body {
  /*display: block;*/
  font-family: helvetica, sans-serif;
  background-color: #FFF5F5;
  max-width: 960px;
}
#logo {
    display: block;
    float: left;

}
header {
  /*max-width: 100%;*/
  /*height: 100px;*/
}
#form {
}
