h1 {
  /*font-family: helvetica;*/
  font-size: 3rem;
  color: #072112;
  margin-top: 15px;
  margin-bottom: 0px;
  float: right;
  margin-right: 40%;
}
body {
  background-repeat: no-repeat;
  max-width: 80%;
  background-position: bottom;
  background-position: right;
  margin: auto;
  color: #072112;
  font-family: helvetica;
  font-size: 1.3rem;
  background-color: white;
}
.topnav {
  clear: both;
  opacity: .8;
  background: rgb(206,219,233); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 );
  text-align: center;
}
.topnav a {
  color: #072112;
  padding: .5% 9%;
  font-size: 1.5rem;
  max-width: 100%;
}
.topnav a:hover {
  background-color: #ddd;
  color: 072112;
}
.topnav a.active {
  background-color: #4CAF50;
  color: #B5FFBC;
}
#navLogo {
  top: 8px;
  left: 8px;
  border: 2px solid 072112;
}
p {
  margin-top: 100px;
  padding: 5%;
  /*margin-left: 10%;*/
  max-width: 100%;
}
#legal {
  text-align: center;
  font-size: .7rem;
}
#climbLogoRight {
  position: fixed;
  width: 10%;
  right: 0px;
  opacity: .3;
  height: 100%;
}
#climbLogoLeft {
  position: fixed;
  width: 10%;
  left: 0px;
  opacity: .3;
  height: 100%;
}
label {
  font-weight: bold;
}
#user-input-form {
  text-align: left;
  margin:auto;
  width: 400px;
  margin-top: 100px;
}
#reset-points {
  font-size: 20px;
  width: 200px;
  height: 75px;
  background-color: rgb(206,219,233);
  margin: 20px;
}
#namefield {
  padding: 20px;
}
#location-div {
  padding: 20px;
}
#type-div {
  padding: 20px;
}
#type-div {
  font-weight: bold;
}
#type-div label {
  font-weight: normal;
}
#type-div li {
  list-style-type: none;
  padding: 10px;
}
#grade-div {
  padding: 20px;
}
#submit {
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(206,219,233);
}
#namefield-div {
  display: none;
}
#location-div {
  display: none;
}
#grade-div {
  display: none;
}
#type-div {
  display: none;
}
#-div {
  display: none;
}
#namefield-div {
  display: none;
}
.visible {
  visibility: visible;
}
.not-visible {
  visibility: hidden;
}
